<!-- <h1>
  {{title}}
</h1>
<img src="../assets/test.jpg"> -->
<div>Using Pointer Event</div>
<br>
<div>Test swipe action</div>
<div style="width: 100%; height: 200px; background-color: lightblue; text-align: center; vertical-align: middle; line-height:200px; touch-action: none;" 
    (pointerdown)="handleGestureStart($event)"
    (pointermove)="handleGestureMove($event)"
    (pointerup)="handleGestureEnd($event)"
    (pointercancel)="handleGestureEnd($event)">{{displayText}}
</div>
<br>
<div>There are a total of 3 images.</div>
<div>Swipe left and right to change image</div>
<div>
  <img [src]="imgToShow" 
      (pointerdown)="handleGestureStart($event)"
      (pointermove)="handleGestureMove($event)"
      (pointerup)="handleSwipeEnd($event)"
      (pointercancel)="handleSwipeEnd($event)" width="200px" height="200px" style="border: 1px solid black; touch-action: none;">
  <div>{{imgNo}}</div>
</div>