<!-- <h1>
  {{title}}
</h1>
<img src="../assets/test.jpg"> -->
<div>Using Pointer Event</div>
<br>
<div>Test swipe action</div>
<div style="width: 100%; height: 200px; background-color: lightblue; text-align: center; vertical-align: middle; line-height:200px; touch-action: pinch-zoom;" 
    (pointerdown)="handleGestureStart($event)"
    (pointermove)="handleGestureMove($event)"
    (pointerup)="handleGestureEnd($event)"
    (pointercancel)="handleGestureEnd($event)">{{displayText}}
</div>
<br>
<div>There are a total of 3 images.</div>
<div>Swipe left and right to change image</div>
<div>
  <img [src]="imgToShow" 
      (pointerdown)="handleGestureStart($event)"
      (pointermove)="handleGestureMove($event)"
      (pointerup)="handleSwipeEnd($event)"
      (pointercancel)="handleSwipeEnd($event)" (click)="display('Clicked!')" width="200px" height="200px" style="border: 1px solid black; touch-action: pinch-zoom;">
  <div>{{imgNo}}</div>
</div>
<br>
<div>Using Hammerjs</div>
<div>
  <img [src]="imgToShow2" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" (tap)="display('Tapped!')" width="200px" height="200px" style="border: 1px solid black; touch-action: pinch-zoom;">
  <div>{{imgNo2}}</div>
</div>

<br>
<button (click)="display('Clicked!')">Click</button>
<br>
<button (tap)="display('Tapped!')">Tap</button>

<div style="width: 200px; height: 200px; overflow: auto">
<p style="width: 300px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet hendrerit ante, ac scelerisque augue. 
  Mauris auctor dictum semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
  Nunc non velit a neque tempus facilisis. Aliquam sit amet gravida nisi. Nam nec gravida mi. 
  Etiam et lacus eget tortor facilisis fringilla id in mauris. 
  Curabitur egestas mi sem, vel porttitor mauris malesuada et. Ut eget volutpat metus. Maecenas eu sollicitudin dolor.
  Vivamus auctor mauris eu nisi pellentesque tristique. Duis venenatis volutpat metus at euismod. 
  Pellentesque feugiat blandit orci, in ultrices ipsum ornare ut. Nulla condimentum libero non rhoncus egestas. 
  Donec vehicula dignissim placerat. Quisque a orci viverra leo molestie ultrices. 
  Phasellus nisl tortor, dignissim a justo et, ullamcorper laoreet sem. 
  Ut egestas leo arcu, eu sodales massa ultricies vel. Sed sodales tincidunt consequat. Nunc vitae velit et justo tincidunt auctor. 
  Phasellus porta turpis at venenatis facilisis. Aenean ut massa dapibus, ornare massa in, faucibus nulla. Phasellus sit amet rhoncus odio. 
  Suspendisse lectus magna, luctus quis vehicula id, hendrerit vel odio. Nam vitae lobortis augue. 
  Phasellus venenatis, est id laoreet rutrum, dui augue bibendum lacus, nec rutrum augue quam scelerisque felis.</p>
</div>